@import "styles/mixins";
@import "styles/breakpoints";


$wrap: "subtitle";

.#{$wrap} {
  @include breakpoint('min-xsmall') {
    font-size: 20px !important;
  }

  @include breakpoint('min-small') {
  }

  @include breakpoint('min-medium') {
  }

  @include breakpoint('min-large') {
  }


  @include breakpoint('min-xlarge') {
  }

  &__text {
    margin: 0 !important;
  }
}
