@import '../../../styles/icons.css';

$wrap: "icon";

.#{$wrap} {
  font-family: 'Material Icons', Helvetica, Arial, Sans, Sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';

  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  &--outlined {
    font-family: 'Material Icons Outlined', Helvetica, Arial, Sans, Sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;

    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  }

  &--round {
    font-family: 'Material Icons Round', Helvetica, Arial, Sans, Sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;

    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  }

  &--sharp {
    font-family: 'Material Icons Sharp', Helvetica, Arial, Sans, Sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;

    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
  }

  &--two-tone {
    font-family: 'Material Icons Two Tone', Helvetica, Arial, Sans, Sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;

    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;

    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
  }

}
