@import "styles/mixins";
@import "styles/breakpoints";


$wrap: "informativeIcon";

.#{$wrap} {
  &__scrollSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    @include breakpoint('min-xsmall') {
      position: absolute;
      bottom: 6px;
    }
    @include breakpoint('min-medium') {
      position: inherit;
      bottom: 0;
    }
  }
}
